amqp==1.4.9
annoy==1.14.0
anyjson==0.3.3
appnope==0.1.0
astroid==1.5.3
autopep8==1.3.1
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0rc1
beautifulsoup4==4.5.3
billiard==3.3.0.23
bleach==1.5.0
bs4==0.0.1
celery==3.1.23
certifi==2017.7.27.1
click==6.7
configparser==3.5.0
decorator==4.1.2
dj-static==0.0.6
Django==1.11.1
django-celery==3.2.1
django-webpack-loader==0.4.1
docutils==0.13.1
enum34==1.1.6
fasteners==0.14.1
flake8==3.5.0
Flask==0.12.2
funcsigs==1.0.2
future==0.17.1
gunicorn==19.7.1
h5py==2.8.0
html5lib==0.9999999
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.2.15
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
joblib==0.11
jupyter-client==5.1.0
jupyter-core==4.4.0
Keras==2.0.6
kombu==3.0.37
lazy-object-proxy==1.3.1
libmagic==1.0
lxml==4.6.3
lz4==2.1.2
Markdown==2.6.8
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
monotonic==1.5
nltk==3.2.5
numpy==1.16.2
parso==0.1.0
pathlib2==2.3.0
pbr==3.1.1
pdfminer.six==20170720
pep8==1.7.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.3.0
ptyprocess==0.5.2
pycodestyle==2.3.1
pycryptodome==3.4.6
pyflakes==1.6.0
pygame==1.9.3
Pygments==2.2.0
pylint==1.7.2
pymagnitude==0.1.120
PyPDF2==1.26.0
python-dateutil==2.6.0
python-magic==0.4.13
pytube==9.1.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.3
refextract==0.2.2
requests==2.13.0
scandir==1.6
scikit-learn==0.18.1
scipy==0.19.0
selenium==3.141.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.2.3
static3==0.7.0
statistics==1.0.3.5
tensorflow==1.2.1
Theano==0.9.0
torch==0.4.1
tornado==4.5.2
tqdm==4.19.5
traitlets==4.3.2
typing==3.6.4
Unidecode==0.4.21
urllib==1.21.1
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.10.10
xxhash==1.3.0
yappi==0.98
